{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "tsconfig.json"
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
    ],
    "rules": {
        "@typescript-eslint/no-unused-vars": ["error", {"args": "all", "argsIgnorePattern": "^_"}],
        "@typescript-eslint/strict-boolean-expressions": ["error", {"allowString": false, "allowNumber": false}],
        "@typescript-eslint/restrict-plus-operands": "off",
        "@typescript-eslint/semi": "warn"
    }
}