# Defold Files
*.atlas linguist-language=protobuf
*.collection linguist-language=protobuf
*.factory linguist-language=protobuf
*.font linguist-language=protobuf
*.go linguist-language=protobuf
*.gui linguist-language=protobuf
*.sprite linguist-language=protobuf
*.tilemap linguist-language=protobuf
*.tilesource linguist-language=protobuf
*.script linguist-language=Lua
*.gui_script linguist-language=Lua
