name: CI/CD

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout 
      uses: actions/checkout@v2
      
    - name: Setup Node
      uses: actions/setup-node@v2.1.2
      with:
        node-version: 16.x
      
    - name: Set up JDK
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Retrieve Bob Builder
      run: wget -O bob.jar https://d.defold.com/archive/stable/1f748d5b0a84e8b5c58bf747e4c48d153ef77a52/bob/bob.jar
      
    - name: Install Dependencies
      run: npm install
      
    - name: Genrate lua w/ ts-defold
      run: npm run build

    - name: Build
      run: java -jar bob.jar --root ./app --archive --platform js-web --verbose resolve distclean build bundle
